extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-5
        .row    
            .col-12 
                +box-head(titlePage)

        .row.mb-3 
            .col-12 
                a.btn.btn-sm.btn-success.me-1(
                    href='/rooms-chat/create'
                ) Tạo phòng chat

        .row 
            each room in groups
                .col-6 
                    .box-room 
                        .inner-avatar
                            img(
                                src=room.avatar
                                alt=room.title
                            )
                        .inner-info
                            .inner-name #{room.title}
                            .inner-buttons
                                a.btn.btn-sm.btn-primary.me-1(
                                    href=`/chat/${room.id}`
                                ) Nhắn tin


