include ../../Client/mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src=settingsGeneral.logo, alt="Logo", height=200)
            .col-5 
                form(
                    action='/search'
                    method='GET'
                )
                    .form-group.d-flex.mb-0 
                        input.form-control(
                            type='text'
                            placeholder='Nhập từ khóa...'
                            name='keyword'
                            value=keyword
                        )
                        button.btn.btn-primary(
                            type='submit'
                        ) Tìm
            .col-4 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li.sub-menu
                            - const pathProducts = '/products'
                            a(href="/products") Sản phẩm
                            +subMenu(layoutCategory, pathProducts)
                        li 
                            a(
                                href='/cart'
                            ) Giỏ hàng (#{miniCart ? miniCart.totalQuantity : "0"})
                        if (!user)
                            li 
                                a(
                                    href='/user/register' 
                                ) Đăng ký
                            li 
                                a(
                                    href='/user/login' 
                                ) Đăng nhập
                        else 
                            li 
                                a(
                                    href='/user/ifno' 
                                ) #{user.fullName}
                            li 
                                a(
                                    href='/user/logout' 
                                ) Đăng xuất