extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/permissionsSelect.pug

block main 
    if (role.permissions.includes('roles_view'))

        h1.mb-4 #{titlePage}

        +alert-success(3000)

        if (records)
            div(data-records=records)
            
            .text-right 
                button(
                    type='submit'
                    class='btn btn-primary mb-3'
                    button-submit
                ) Cập nhật 

            table.table.table-hover.table-sm(
                table-permissions
            )
                thead 
                    tr
                        th Tính năng
                        each item in records
                            th.text-center #{item.title}
                tbody 
                    tr.d-none(data-name='id')
                        td 
                        each item in records 
                            td.text-center
                                input(
                                    type='text'
                                    value=item.id
                                )
                    //- Danh mục sản phẩm
                    +permissions-select('categories')

                    //- Sản phẩm
                    +permissions-select('products')

                    //- Role
                    +permissions-select('roles')

                    //- Account
                    +permissions-select('accounts')
        else 
            a(
                href=`${prefixAdmin}/roles/create`
                class="btn btn-outline-success"
            ) + Thêm mới

        form(
            id='form-change-permissions'
            method="POST"
            action=`${prefixAdmin}/roles/permissions?_method=PATCH`
        )
            .form-group 
                input.form-control(
                    type='text'
                    name='permissions'
                    hidden
                )

        script(src="/admin/js/role.js") 
                                    

        