extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3.chat
        .row 
            .col-12 
                +box-head(titlePage)

        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats
                            if (chat.infoUser.id != user.id)
                                .inner-incoming
                                    .inner-name #{chat.infoUser.fullName}
                                    .inner-content
                                        | #{chat.content} 
                                    if (chat.images)
                                        .inner-images
                                            each image in chat.images 
                                                img(src=image)
                            else
                                .inner-outgoing
                                    if (chat.content) 
                                        .inner-content
                                            | #{chat.content} 
                                    if (chat.images )
                                        .inner-images
                                            each image in chat.images 
                                                img(src=image)
                        .inner-list-typing
                    .inner-foot 
                        form.inner-form(
                            action=``
                        )
                            input(
                                type='text'
                                placeholder='Nhập nội dung...'
                                name='content'
                            )
                            .custom-file-container(data-upload-id="upload-image")
                            span.button-icon.btn.btn-light.mx-2 
                                i.fa-regular.fa-face-smile
                            button 
                                i.fa-solid.fa-paper-plane

    .tooltip(role='tooltip')
        emoji-picker.light




