extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-5

        include ../../partials/list-user-button.pug

        .row
            .col-12
                +box-head(titlePage)
        .row 
            each user in users
                .col-6 
                    .box-user.add
                        .inner-avatar 
                            img(
                                src=user.avatar ? user.avatar : "https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg"
                                alt=user.fullName
                            )
                        .inner-info
                            .inner-name.me-1 #{user.fullName}
                            .inner-buttons
                                a.btn.btn-sm.btn-primary.me-1(
                                    href=`/chat/${user.roomChatId}`
                                ) Nhắn tin
                        .inner-status(
                            status=user.statusOnline
                        ) <i class='fa-solid fa-circle'></i>

    block script 
        script(src="/js/users.js") 